<div style="width: 100%;" class="p-4">
  <div class="row">
      <div class="col-md-10">
          <h3>Deja tu Reseña</h3>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-lg">
          <p>Deja tu reseña sobre HuellitaFeliz y cualquier recomendación que nos pueda hacer crecer.</p>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <label class="form-label">
        <dt>
          Reseña
        </dt>
      </label>
    </div>
    <div class="col-lg">
      <textarea class="form-control form-control-sm" [(ngModel)]="resena" cols="30" rows="5"></textarea>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-3">
      <label class="form-label">
        <dt>Calificación</dt>
      </label>
    </div>
    <div class="col-lg-3">
      <input type="number" class="form-control form-control-sm" [(ngModel)]="calificacion">
    </div>
    <div class="col-lg-3">
       /5
    </div>
  </div>
  
  <!-- <div class="d-flex justify-content-center my-3">
  </div>
  <div class="d-flex justify-content-center my-3">
  </div> -->
  
  <div class="d-flex justify-content-end mt-4">
      <button class="btn btn-secondary mx-2" (click)="activeModal.dismiss()">Cancelar</button>
      <button class="btn btn-primary" [disabled]="notValidModal" (click)="activeModal.close(result)">Confirmar</button>
  </div>

</div>